<MudItem Class="pa-6 mr-20 mx-auto">
    <MudCard Outlined="false" xs="6" sm="3" Class="mt-3 object-center">
        <MudCardContent>
            <div class="d-flex justify-center">
                <MudImage ObjectFit="ObjectFit.Cover" Height="200" Width="400" Src="not-found.jpg" Elevation="25" Class="rounded-lg" />
            
            </div> 

                <MudText Typo="Typo.h2" Class="mt-5 mb-5 justify-content-center">Stranica nije pronađena</MudText>
            <MudText Typo="Typo.body2" Class="justify-content-center">Žao nam je, stranica koju zahtevate nije pronađena.</MudText>
   
         
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary" Href="/">nazad na Home stranicu</MudButton>
        </MudCardActions>
    </MudCard>
</MudItem>
